/*-- scss:defaults --*/

$presentation-h1-font-size: 2.0em;
$presentation-heading-font:"Lato";
$presentation-font-size-root: 24px;
$presentation-font-smaller: 0.5;
$presentation-line-height: 1.3;
$code-block-font-size: 0.5em;
$background-color: "white";
$font-family-sans-serif: "Lato";
$body-bg: #6C757D;
$light-bg-text-color: #FFFFFF;
$dark-bg-text-color: #FFFFFF;
$presentation-heading-color: #FFFFFF;
$body-color: #FFFFFF;
$link-color: #FF9300;
$code-block-font-size: 0.7em;

.my_class2 {
height: 100px;
width: 900px;
}

