/*-- scss:defaults --*/

$presentation-h1-font-size: 2.0em;
$presentation-font-size-root: 24px;
$presentation-font-smaller: 0.5;
$presentation-line-height: 1.3;
$code-block-font-size: 0.5em;
$background-color: "white";


.my_class2 {
height: 100px;
width: 900px;
}